# IDE-specifikus fájlok
/.idea/
/*.iml

# IntelliJ IDEA shelf
/shelf/

# IntelliJ IDEA fájlok
/workspace.xml
/vcs.xml
/misc.xml
/jarRepositories.xml
/encodings.xml
/compiler.xml

# Build fájlok
/bin/
*/target/

# Log fájlok
*.log

# MacOS
.DS_Store

# Windows
Thumbs.db
